<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="public/css/style.css">
  <title> Hola mundo HTML | Demo </title>
</head>
<body>
