
{{> head }}
{{> navbar }}

<div class="row">
  <div class="col-md-6">Ejmeplo de imagen
      <p>Imagen de prueba en parciales de hbs</p>
  </div>
  <div class="col-md-7">
      <img src="img/ejemplo.png" class="img-thumbnail"
  </div>
</div>


{{> footer }}
